@charset "utf-8";

/*Кастомный css от Web Style Production 24 (https://wsp24.ru/)*/

#body {
	min-height: 50vh;
}
table {
	width: 100%;
	text-align: center;
}
td {
	padding: 10px;
}
td:first-child {
	text-align: left;
}
thead {
	font-weight: bold;
	background-color: #2BA8D6 ;
	text-transform: uppercase;
}
tbody tr {
	background-color: rgba(0, 0, 0, .25);
}
tbody tr:nth-child(2n-1) {
	background-color: rgba(0, 0, 0, .125);
}
.pdf {
	color:#333;
	font-size: 1rem;
}
.pdf i {
	color: red;
	margin-right: 10px;
}
@media (max-width: 991px) {
	.d-mobile-none{
		display: none;
	}
}